<div nz-row style="margin-top: 3px; margin-bottom: 1px;">
  
    <div nz-col nzSpan="8" style="text-align: left;">
      <div style="float:right">
        <input nzSize="small"  style="width: 150px;margin-left: 2px;"  type="date" nz-input [(ngModel)]="displayData.fromDate"
        placeholder="Từ" />
        <input nzSize="small"  style="width: 150px;margin-left: 2px;"  type="date" nz-input [(ngModel)]="displayData.toDate"
        placeholder="Đến" />
        <!-- <button nz-button nzSize="small" nzType="primary" style="margin-left: 2px;" (click)="filterTable()">
          <i nz-icon nzType="search" nzTheme="outline"></i>Lấy dữ liệu</button> -->
      </div>
    </div>
  
    <div nz-col nzSpan="12" style="text-align: right;">
      <div style="float:right;padding-left: 5px">
        <nz-input-group nzSize="small" [nzSuffix]="suffixIconSearch">
          <input type="text" [(ngModel)]="valueModel" (ngModelChange)="changeSearch($event)" nz-input
            placeholder="Tìm kiếm" />
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </nz-input-group>
      </div>
    </div>
  </div>
  <nz-table [nzScroll]="{ x: '1275px'}" #fixedTable nzSize="small" nzBordered nzShowSizeChanger
    [nzFrontPagination]="false" [nzData]="listOfData" nzShowQuickJumper="true" [(nzPageSize)]="displayData.PageSize"
    nzShowTotal [nzPageSizeOptions]="pageSizeOptions" [(nzPageIndex)]="displayData.PageNumber" nzBordered
    [nzLoading]="loading" [nzTotal]="total" (nzQueryParams)="onQueryParamsChange($event)" [nzShowTotal]="rangeTemplate"
    nzSize="small">
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead>
      <tr>
        <th nzLeft="0px" nzWidth="50px" nzAlign="center">STT</th>
        <th nzLeft="50px" nzWidth="150px" nzAlign="center" >Mã đơn hàng
        </th>
  
        <th nzLeft="200px" nzWidth="200px" nzAlign="center">
          Tên sản phẩm
        </th>
  
        <th nzLeft="400px" nzWidth="100px" nzAlign="center">
            Kiểu
        </th>
  
        <th nzWidth="100px" nzAlign="center" >
          Kích cỡ
        </th>
  
        <th nzWidth="100px" nzAlign="center" >
            Ảnh
        </th>
  
        <th nzWidth="100px" nzAlign="center" >
            Đơn giá
        
        </th>

        <th nzWidth="100px" nzAlign="center" >
            Số lượng
        </th>

        <th nzWidth="100px" nzAlign="center" >
            Thành tiền
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of fixedTable.data; let i = index">
        <td nzLeft="0px" nzWidth="50px" nzAlign="center">{{ i + 1 }}</td>
        <td nzLeft="50px" nzWidth="150px" nzAlign="center">{{ data?.order_Id}}</td>
        <td nzLeft="200px" nzWidth="200px" nzAlign="center">{{ data?.product_Name }}</td>
        <td nzLeft="400px" nzWidth="100px" nzAlign="center">{{ data?.product_Style }}</td>
        <td nzWidth="100px" nzAlign="center">{{ data?.product_Size }}</td>
        <td nzWidth="100px" nzAlign="center"><a (click)="openImage(createImgPath(data?.product_Image))"><img [src]="createImgPath(data?.product_Image)" alt="profile picture" style="width:80px; height:100px;"></a></td>
        <td nzWidth="100px" nzAlign="center">{{ data?.product_Price }}</td>
        <td nzWidth="100px" nzAlign="center">{{ data?.orderDetail_Quantity }}</td>
        <td nzWidth="100px" nzAlign="center">{{ data?.orderDetail_Amount }}</td>
      </tr>
    </tbody>
  </nz-table>
  