body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
.content{
width: 100%;
}
.img{
  width: 20%;
}
.content h2{
  width: auto;
  height: auto;
  margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}
