<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="230px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
          <a href="" target="_blank">
              <img src="../../assets/img/LOGO_KTX.png" alt="logo">
              <!-- <h1>Ant Design Of Angular</h1> -->
          </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nzMatchRouter nzTitle="Đơn hàng" routerLink="/layout/category">
            <i nz-icon nzType="shop" nzTheme="outline"></i>
            <div *ngIf="isCollapsed == false" style="float: right;width: 80%;text-align: left;">Loại sản phẩm</div>
        </li>
        <li nz-menu-item nzMatchRouter nzTitle="Đơn hàng" routerLink="/layout/product">
            <i nz-icon nzType="skin" nzTheme="outline"></i>
            <div *ngIf="isCollapsed == false" style="float: right;width: 80%;text-align: left;">Sản phẩm</div>
        </li>
        <li nz-menu-item nzMatchRouter nzTitle="Đơn hàng" routerLink="/layout/order">
            <i nz-icon nzType="shopping" nzTheme="outline"></i>
            <div *ngIf="isCollapsed == false" style="float: right;width: 80%;text-align: left;">Đơn hàng</div>
        </li>
        <!-- <li nz-menu-item nzMatchRouter nzTitle="Đơn hàng" routerLink="/layout/orderdetail">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <div *ngIf="isCollapsed == false" style="float: right;width: 80%;text-align: left;">Chi tiết đơn hàng</div>
        </li> -->
      </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
        <div style="display: flex; align-items: center;">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleCollapsed()"></i>
        <div id="marquee" style="float: right; width: 70%;">
            <marquee id="marqueerun" behavior="scroll" direction="left" onmouseout="this.start()"
                onmouseover="this.stop()"
                style="vertical-align: bottom;font-weight:bold; color: red;text-transform: uppercase;   ">
                <span id="marqueeContent">

                </span>
            </marquee>
        </div>
        </div>
        
      </nz-header>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
</nz-layout>
</nz-layout>