
.bg-green {
    background-color: #37bc58!important;
}
.rounded-md {
    border-radius: 2px;
}
.ant-row-middle {
    align-items: center;
}
.ant-row {
    display: flex;
    flex-flow: row wrap;
}
.mt0 {
    margin-top: 0!important;
}

.h2 {
    font-size: 20px;
}
.p-md {
    padding: 10px!important;
}
.text-white {
    color: #fff!important;
}
.ant-col-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}
.text-nowrap {
    white-space: nowrap!important;
}
.mb0 {
    margin-bottom: 0!important;
}