<form nz-form [formGroup]="myFormGroup" class="login-form">
    <div >
        <nz-form-item>
            <nz-form-label class="flabel" nzRequired nzFor="category_Name">Loại sản phẩm</nz-form-label>
            <nz-form-control class="fcontrol" nzErrorTip="Không được bỏ trống!">
                <input nz-input nzSize="small" formControlName="category_Name" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label class="flabel" nzRequired nzFor="category_Quantity">Số lượng</nz-form-label>
            <nz-form-control class="fcontrol" nzErrorTip="Không được bỏ trống!">
                <input nz-input nzSize="small" type="number" formControlName="category_Quantity" />
            </nz-form-control>
        </nz-form-item>
    </div>
</form>

<div *nzModalFooter>
<button nz-button nzType="default" (click)="closeModal()">Hủy bỏ</button>
<button nz-button nzType="primary" (click)="saveChanges()">Lưu</button>
</div>